@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

/* ############### Settings ############### */
:root {
  --primaryColor: rgba(41, 163, 138, 1);
  --primaryColorHalf: rgba(50, 190, 162, 0.5);
  --secondaryColor: rgba(20, 171, 210, 1);
  --mainWhite: #ffffff;
  --mainBlack: #222;
  --mainGrey: #e7e7e7;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############### Elements ############### */
html {
    font-size: 16px;
      
    @media screen and (min-width: 900px) {
      font-size: 18px;
    }
      
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mulish", sans-serif;
}

/* ############### Components ############### */

/* ############### Nav Styles ############### */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--mainWhite);
    border-bottom: 1px solid var(--mainGrey);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }

  /* ############### Logo ############### */
  .logo {
    color: var(--primaryColor);
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
  }

  .logo-end {
    color: var(--mainBlack);
  }
  @media screen and (max-width: 900px) {
    .logo {font-size: 24px;}
  }
 

  /* ############### Cart icon ############### */
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: 8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
    font-size: 14px;
  }


/* ############### Products ############### */

.products {
    padding: 4rem 0;
}
.section-title {
    max-width: 90vw;
    text-align: center;
    margin: 0 auto;
}
  .section-title h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr) */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    background: var(--mainWhite);
    border: 2px solid var(--primaryColor);
    border-radius: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    margin: 0 0 1rem 0;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .bag-btn:hover {
    /* color: var(--mainWhite); */
    background: var(--primaryColorHalf);
  }
  .la-shopping-bag {
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .product-img {
    display: block;
    width: 100%;
    max-width: 175px;
    max-height: 175px;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ############### End of Products ############### */
  /* ############### Cart ############### */
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /* ############### Cart Item ############### */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .la-chevron-up,
  .la-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }


  /* ############### Cart Footer ############### */
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }