@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

/* ############### Settings ############### */
:root {
  --primaryColor: rgba(41, 163, 138, 1);
  --primaryColorHalf: rgba(173, 210, 207, 1);
  --secondaryColor: rgba(20, 171, 210, 1);
  --mainWhite: #ffffff;
  --mainBlack: #222;
  --mainGrey: #e7e7e7;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############### Elements ############### */
html {
    font-size: 16px;
      
    @media screen and (min-width: 900px) {
      font-size: 18px;
    }
      
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mulish", sans-serif;
}

.clear {clear: both;}

/* ############### Components ############### */

/* ############### Nav Styles ############### */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainWhite);
    border-bottom: 1px solid var(--mainGrey);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
  }
  .nav-icon {
    font-size: 1.5rem;
  }

  /* ############### Logo ############### */
  .logo {
    color: var(--primaryColor);
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
  }

  .logo-end {
    color: var(--mainBlack);
  }
  @media screen and (max-width: 900px) {
    .logo {font-size: 24px;}
  }
  @media screen and (max-width: 600px) {
    .logo {display: none;}
  }
 
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-icon {
    color: var(--mainBlack);
    width: 2.5rem;
    margin-right: 0.5rem;
}

  /* ############### Cart icon ############### */
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -2px;
    right: 8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
    font-size: 14px;
  }


/* ############### Products ############### */

.products {
    padding: 0rem;
    max-width: 1420px;
    margin: 0 auto;
}
.section-title {
    max-width: 100vw;
    text-align: center;
    margin: 2rem 0 0 0;
    background: var(--primaryColorHalf);
}
  .section-title h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    margin: 0 auto;
    max-width: 64vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
    float:right;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    background: var(--mainWhite);
    border: 2px solid var(--primaryColor);
    border-radius: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    margin: 0 0 1rem 0;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .bag-btn:hover {
    /* color: var(--mainWhite); */
    background: var(--primaryColorHalf);
  }
  .la-shopping-bag {
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .product-img {
    display: block;
    width: 100%;
    max-width: 175px;
    max-height: 175px;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ############### End of Products ############### */


  /* ############### Filters ############### */

    .filters {
        display: block;
        width: 17vw;
        float: left;
    }

    .filters h2 {
        margin-bottom: 1rem;
    }

    .filters h3 {
        color: var(--primaryColor);
        font-weight: 700;
        font-size: 1.25rem;
    }
  /* ############### Cart ############### */
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /* ############### Cart Item ############### */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .la-chevron-up,
  .la-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }


  /* ############### Cart Footer ############### */
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }


  /* ############### Footer ############### */

  .footer {
      background: var(--primaryColorHalf);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
  }

  .footer-img {
      max-width: 30rem;
      max-height: 30rem;
  }









/* Checkbox */

.checkbox {
    width: 1.75rem;
    height: 1.75rem;
}

.collection__filter-checkbox-list {
    list-style: none;
    margin-bottom: 2rem;
  }
  
  .collection__filter-collapsible .collection__filter-checkbox-list {
    padding: 8px 0 7px 10px;
    /* When embedded into a collapsible it get more padding */
  }
  
  .collection__filter-checkbox {
    display: flex;
    align-items: center;
    padding: 2px 0 3px 0;
  }
  
  .collection__filter-checkbox label {
    margin-left: 4px; /* This is micro-alignment to respect the design due to the usage of flexbox here */
    line-height: 1.5;
  }
  
  /* Active filters */
  
  .collection__filter-icon--active {
    position: relative;
  }
  
  .collection__filter-icon--active::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 13px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--accent-color);
  }
  
  .collection__active-filters {
    margin: -5px 0 16px 0;
  }
  
  .collection__active-filters:empty {
    display: none;
  }
  
  .collection__active-filter-item {
    display: flex;
    width: 100%;
    padding: 4px 0;
    align-items: center;
    line-height: 1.5;
    font-weight: var(--text-font-bolder-weight);
    color: var(--accent-color);
  }
  
  .collection__active-filter-cross {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    background: var(--accent-color);
    color: var(--secondary-background);
    height: 20px;
    width: 20px;
    border-radius: 3px;
    box-shadow: 0 1px rgba(var(--border-color-rgb), 0.4);
  }
  
  .collection__active-filter-cross svg {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    stroke-width: 2px;
    stroke: white;
  }
  
  .collection__clear-filter {
    margin: 13px 0 9px 0;
  }
  
  @media screen and (min-width: 1000px) {
    .collection__filter-group {
      padding: 6px 0;
      border-bottom: 0;
    }
  
    .collection__filter-group-name {
      justify-content: flex-start;
    }
  
    /* Linklist */
    .collection__filter-linklist {
      padding: 0 0 9px 0;
    }
  
    .collection__filter-linklist .collection__filter-linklist {
      padding-left: 15px;
    }
  
    .collection__filter-link {
      padding: 2px 0;
    }
  
    /* Color */
    .collection__filter-color-list {
      padding: 12px 0 10px 0;
    }
  
    /* Checkbox */
    .collection__filter-collapsible .collection__filter-checkbox-list {
      padding-bottom: 12px;
    }
  
    .collection__filter-group:last-child .collection__filter-checkbox-list {
      padding-bottom: 0;
      /* Last one must have its padding removed */
    }
  
    .collection__filter-checkbox {
      padding: 0;
    }
    .collection__filter-checkbox .checkbox-wrapper {
      margin: 8px 0;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .collection__sidebar {
      flex-basis: 290px;
    }
  }
  